extends layout

block head
  link(rel='stylesheet', href='/stylesheets/change-password.css') // Link to the Change Password CSS

block content
  .change-password-container
    h1 Change Password

    form(method='POST', action='/change-password')
      .form-group
        label(for='currentPassword') Current Password:
        input(type='password', name='currentPassword', required=true, class='input-field', placeholder='Enter your current password')

      .form-group
        label(for='newPassword') New Password:
        input(type='password', name='newPassword', required=true, class='input-field', placeholder='Enter a new password')

      .form-group
        label(for='confirmPassword') Confirm New Password:
        input(type='password', name='confirmPassword', required=true, class='input-field', placeholder='Confirm your new password')

      input(type='submit', value='Change Password', class='button change-password-button')
