extends layout

block content
  .hero-section
    .text
      h1 Groceries and more in 20 minutes
      p Making on-demand retail a reality!
      a.button(href='/products') Shop Now
    .image
      img(src='/images/home.png', alt='Delivery Image')

  // Feature Section
  .features-section
    .feature
      img(src='/images/f1.png', alt='Under 20 minutes')
      .feature-text
        h3 Under 20 minutes
        p Delivered on time – Every time!
        
    .feature
      img(src='/images/f2.png', alt='Reliable')
      .feature-text
        h3 Reliable
        p Get what you order – Every time!
        
    .feature
      img(src='/images/f3.png', alt='Amazing Prices')
      .feature-text
        h3 Amazing prices
        p Offers offers offers – Every time!
