extends layout

block content
  .auth-page
    .auth-container
      h1 Sign In
      form(method='POST', action='/signin')
        .form-group
          label(for='username') Username:
          input(type='text', name='username', required=true, placeholder='Enter your username', class='input-field')

        .form-group
          label(for='password') Password:
          input(type='password', name='password', required=true, placeholder='Enter your password', class='input-field')

        input(type='submit', value='Sign In', class='button auth-button')

      p.or-divider OR

      p.create-account-text
        span Don't have an account? 
        a(href='/signup', class='button create-account-button') Sign Up
